/* font-family: "PTSansNarrowRegular"; */
@font-face {
    font-family: "PTSansNarrowRegular";
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrow.eot");
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansNarrowBold"; */
@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasNeueBook";
    src: url("../fonts/BebasNeueBook.eot");
    src: url("../fonts/BebasNeueBook.otf")format("embedded-opentype"),
    url("../fonts/BebasNeueBook.woff") format("woff"),
    url("../fonts/BebasNeueBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}